
@{
    ViewBag.Title = "Area";
}


@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")


    <script>
        var Dtable = null;
        $(document).on('nifty.ready', function () {
            $('.dropdownlist').select2();
            $('#btn_area_update').hide();
            $('editTitle').hide();
            initAreaGrid();
            initAreaGridActions();
        });

    </script>
    <script>
        function clearFields() {
            $('#area_id').val('');
            $("#area_name").val('');
        }
        function initAreaGrid() {
            Dtable = $(".areaGrid").DataTable({
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/Management/GetAllAreas',
                    "type": 'POST',
                    "dataSrc": function (data) {

                       if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {

                            
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_area_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_area_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "areaId", className: "hidden" },
                    { "title": "Area Name", "data": "areaName" },
                   

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initAreaGridActions() {
            $(document).on('click', '.btn_area_edit', function (e) {
                e.preventDefault();
                $('#btn_area_update').show();
                $('#btn_area_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.areaId;
                $('#area_id').val(_id);
                $("#area_name").val(rowData.areaName);
            });
            $(document).on('click', '.btn_area_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.areaId;
                console.log(_id);
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this area record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Management/DeleteArea',
                                type: 'POST',
                                data: { areaId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initAreaGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a area", "warning");
                }
            });
            $('#btn_area_add').click(function () {
                var url = "/Management/AddArea";
               
                var _areaName= $("#area_name").val();
                $.post(url, { areaName: _areaName}, function (data) {
                    if (data.resultCode == "1100") {
                        swal("Added!", data.remarks, "success");
                        initAreaGrid();
                        clearFields();
                    }
                    else {
                        $('.loading').hide();
                        swal("Not Added", data.remarks, "error");
                    }
                });
            });
            $(document).on('click', '#btn_area_update', function (e) {
                e.preventDefault();
                var _areaId = $('#area_id').val();
                if (_areaId) {
                    var _areaName = $("#area_name").val();
                    $.ajax({
                        url: '/Management/EditArea',
                        type: 'POST',
                        data: {
                            areaId: _areaId,
                            areaName: _areaName,
                        },
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (response) {
                            if (response.resultCode == '1100') {
                                swal("Updated!", response.remarks, "success");
                                initAreaGrid();
                                $('#btn_area_update').hide();
                                $('#btn_area_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                            }
                            else {
                                swal('Warning', response.remarks, 'warning');
                            }
                        },
                        error: function (a, b, c) {
                            swal('Error', a + b + c, 'error');
                        }
                    });

                }
                else {
                    swal("Warning", "Please select a area", "warning");
                }
            });
        }
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Register New Area</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-warning">
                <div class="panel-heading">
                    <h1 class="panel-title">Search Filters</h1>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-bordered-warning">
                <div class="panel-heading">
                    <h1 id="addTitle" class="panel-title">Area Details</h1>
                    <h1 id="editTitle" class="panel-title">Edit Area Details</h1>
                </div>
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon bg-primary">Area Name</span>
                                    <input type="hidden" id="area_id" value="" />
                                    <input type="text" value="" id="area_name" class="form-control" />
                                </div>
                            </div>
                            
                            <div id="saveUpdateBtn" class="form-group">
                                <a href="#" id="btn_area_add" class="btn btn-success btn-lg btn-block">Submit</a>
                                <a href="#" id="btn_area_update" class="btn btn-success btn-lg btn-block">Update</a>
                            </div>
                            <div class="form-group">
                                <div class="alert alert-info hidden" id="errorText"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-bordered-warning">
                <div class="panel-heading">
                    <h1 class="panel-title">Area List</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover areaGrid"></table>
                </div>
            </div>
        </div>
    </div>
</div>

