@{
    ViewBag.Title = "Bill Recovery";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var residentId = null;
        $(document).on('nifty.ready', function () {
             $('#btn_electric_update').hide();
            $('editTitle').hide();
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
           
            initElectricGrid();
            initElectricGridActions();
        });
    </script>
    <script>
        function clearFields() {
            $('#electric_id').val('');
            $('#electric_area').val('');
            $('#electric_subarea').val('');
            $('#electric_resident').val('');
            $('#previous_reading').val('');
            $("#total_outstanding").val('');
            $("#current_reading").val('');
            $("#current_unit").val('');
            $("#month").val('');
            $("#electric_amount").val('');
            $("#Amount").val('');
        }
        function initElectricGrid() {
            Dtable = $(".electricGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/Recovery/GetAllPayments',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_electric_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_electric_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "paymenthistoryId", className: "hidden" },
                    { "title": "Payment Month", "data": "paymentMonth" },
                    { "title": "Outstanding", "data": "outstanding" },
                    { "title": "Amount Received", "data": "paymentAmount" },
                    { "title": "Date Added", "data": "paymenthistoryDatetime" },
                    { "title": "Area", "data": "areaName" },
                    { "title": "Sub Area", "data": "subAreaName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Resident Name", "data": "residentName" },
                    {
                        "title": "Resident Status",
                        "data": "residentStatus",
                        render: function (data, type, row, meta) {
                            if (data == 1) {
                                return "Officer";
                            }
                            if (data == 2) {
                                return "OR"
                            }
                            if (data == 3) {
                                return "JCO"
                            }
                            if (data == 4) {
                                return "Civilian"
                            }
                            if (data == 5) {
                                return "Commercial"
                            }
                        }
                    },
                    { "title": "Resident PA No", "data": "residentPaNo" },
                    { "title": "Resident Rank", "data": "residentRank" },
                    { "title": "Resident Unit", "data": "residentUnit" },
                    {
                        "title": "Picture", "data": "pictureId", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.picturedata + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initElectricGridActions() {
            $(document).on('click', '.btn_electric_edit', function (e) {
                e.preventDefault();
                $('#btn_electric_update').show();
                $('#btn_electric_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                $('#electric_id').val(_id);
                $("#Amount").val(rowData.paymentAmount);             
                $("#month").val(rowData.paymentMonth);
            });
            $(document).on('click', '.btn_electric_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                console.log(_id);
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this Recovery Electric record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Recovery/RemovePaymentElectric',
                                type: 'POST',
                                data: { readingElectricId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initElectricGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });

            // $('#btn_electric_update').click(function () {
            //    var url = "/Recovery/AddPayment";
            //    var _amount = $("#Amount").val();
            //    var _month = $("#month").val();
            //    $.post(url, { paymentAmount: _amount, paymentMonth: _month, residentId: residentId, }, function (data) {
            //        if (data.resultCode == "1100") {
            //            swal("Added!", data.remarks, "success");
            //            initLocationGrid();
            //            clearFields();
            //        }
            //        else {
            //            $('.loading').hide();
            //            swal("Not Added", data.remarks, "error");
            //        }
            //    });
            //});

           

            $(document).on('click', '#btn_electric_update', function (e) {
                e.preventDefault();
                var _paymentId = $('#electric_id').val();
                if (_paymentId) {
                    var _paymentId = $("#electric_id").val();
                    var _amount = $("#Amount").val();
                    $.ajax({
                        url: '/Recovery/EditPayment',
                        type: 'POST',
                        data: {
                            paymenthistoryId: _paymentId,
                            paymentAmount: _amount,
                           
                        },
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (response) {
                            if (response.resultCode == '1100') {
                                swal("Updated!", response.remarks, "success");
                                initElectricGrid();
                                $('#btn_electric_update').hide();
                                $('#btn_electric_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                            }
                            else {
                                swal('Warning', response.remarks, 'warning');
                            }
                        },
                        error: function (a, b, c) {
                            swal('Error', a + b + c, 'error');
                        }
                    });

                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });
        }
        function initHistoryGrid(_consumerNo) {
            Dtable = $(".historyGrid").DataTable({
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/Bill/getLocationHistoryByConsumerNo',
                    "type": 'POST',
                    "data": { consumerNo: _consumerNo },
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {

                                return data;
                            }
                            else {

                                return [];
                            }
                        }
                        else {

                            return [];
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Info",
                            text: "Not connected to the internet",
                            type: "info"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Bill Id", "data": "billId", className: "hidden" },
                    { "title": "PA No", "data": "paNo" },
                    { "title": "Resident Name", "data": "residentName" },
                    { "title": "Resident Rank", "data": "residentRank" },
                    { "title": "Resident Unit", "data": "residentUnit" },
                    {
                        "title": "Resident Status",
                        "data": "residentStatus",
                        render: function (data, type, row, meta) {
                            if (data == 1) {
                                return "Officer";
                            }
                            if (data == 2) {
                                return "OR"
                            }
                            if (data == 3) {
                                return "JCO"
                            }
                            if (data == 4) {
                                return "Civilian"
                            }
                            if (data == 5) {
                                return "Commercial"
                            }
                        }
                    },
                    { "title": "Billing Month", "data": "billingMonth" },
                    { "title": "Bill Amount", "data": "billAmount" },
                    { "title": "Bill Outstanding", "data": "OutstandingAmountOfMonth" },
                    {
                        "title": "Bill Status",
                        "data": "billStatus",
                        render: function (data, type, row, meta) {
                            if (data == 1) {
                                return "Paid";
                            }
                            if (data == 2) {
                                return "Partial Paid"
                            }
                            if (data == 3) {
                                return "Pending"
                            }                            
                        }
                    },
                    { "title": "Bill Payment Month", "data": "paymentMonth" },
                    { "title": "Bill Payment Amount", "data": "paymentAmount" },

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        $('#btn_electric_add').click(function () {
                console.log('ok');
                var _url = "/Recovery/AddPayment";
                var _amount = $("#Amount").val();
             var _billingMonth = $("#billing_month").val();
             var _paymentMonth = $("#month").val();
             var _paymentSource = $("#Payment_Source").val();
                var formdata = new FormData(); //FormData object
             var fileInput = document.getElementById('online_file');
             if (fileInput.files.length > 0) {
                 formdata.append(fileInput.files[0].Name, fileInput.files[0]);
                 console.log(formdata);
                formdata.append("_amount", _amount);
                formdata.append("_residentId", residentId);
                 formdata.append("_month", _paymentMonth);
                 formdata.append("_billingMonth", _billingMonth);
                 formdata.append("_paymentType", _paymentSource);
                $.ajax({
                    url: _url,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.resultCode == "1100") {
                            swal("Added!", data.remarks, "success");
                            initElectricGrid();
                            clearFields();
                        }
                        else {
                            $('.loading').hide();
                            swal("Not Added", data.remarks, "error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
             }
             else {
                 swal('Warning', 'Please attach the meter image', 'warning');
             }
            });
        $("#billing_month").change(function () {
            var _billingMonth = $('#billing_month').val();
            var _consumerNo = $('#consumer_no').val();
            console.log(_billingMonth);
            if (_consumerNo) {
                $.ajax({
                    url: '/Bill/getAllDetailByConsumerNoForRecoveryElectric',
                    type: 'POST',
                    data: {
                        locationElectricMeterNo: _consumerNo,
                        billingMonth: _billingMonth
                    },
                    success: function (response) {
                        if (response.resultCode == '1100') {
                            $("#electric_area").val(response.area);
                            $("#electric_subarea").val(response.subArea);
                            $("#electric_resident").val(response.location);
                            $("#previous_reading").val(response.previousReading);
                            $("#total_outstanding").val(response.outstandings);
                            $("#current_reading").val(response.currentReading);
                            $("#current_unit").val(response.units);
                            $("#electric_amount").val(response.amount);
                            residentId = response.residentId;
                        }
                        else {
                            clearFields()
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            }
            else {
                clearFields();
            }

        });
        $('#consumer_no').change(function (e) {

            var _consumerNo = $(this).val();
            if (_consumerNo) {
                initHistoryGrid(_consumerNo);

            }
        });
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric Bill Recovery</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-dark">
                <div class="panel-heading">
                    <h1 class="panel-title">Location History</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover historyGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Add Bill Recovery</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Consumer No.</label>
                        <input  value="" class="form-control" id="consumer_no" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Billing Month</label>
                        <input type="text" value="" class="form-control monthPicker" id="billing_month" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Area</label>
                        <input readonly class="form-control " id="electric_area">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sub Area</label>
                        <input readonly class="form-control " id="electric_subarea">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input readonly class="form-control " id="electric_resident">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Outstandings</label>
                        <input type="number" value="" readonly class="form-control" id="total_outstanding" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Previous Reading</label>
                        <input type="number" value="" readonly class="form-control" id="previous_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Reading</label>
                        <input type="hidden" id="electric_id" value="" />
                        <input type="number" value="" readonly class="form-control" id="current_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Units</label>
                        <input type="number" value="" readonly class="form-control" id="current_unit" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Payment Month</label>
                        <input type="text" value="" class="form-control monthPicker" id="month" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Picture</label>
                        <input type="file" id="online_file" value="" class="form-control" accept=".jpg,.png,.jpeg,.pdf" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input readonly value="" class="form-control" id="electric_amount" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount Recived</label>
                        <input type="number" value="" class="form-control" id="Amount" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Payment Source</label>
                        <select class="form-control dropdownlist" id="Payment_Source">
                            <option value="1">Through Salary</option>
                            <option value="2">Through Bank</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <a href="#" id="btn_electric_add" class="btn btn-success pull-right">Submit</a>
                        <a href="#" id="btn_electric_update" class="btn btn-success pull-right">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills Recovered</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover electricGrid">
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>