@{
    ViewBag.Title = "Bill Recovery";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var residentId = null;
        $(document).on('nifty.ready', function () {
             $('#btn_electric_update').hide();
            $('editTitle').hide();
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
           
            initElectricGrid();
            initElectricGridActions();
        });
    </script>
    <script>
        function clearFields() {
            $('#electric_id').val('');
            $("#consumer_no").val('');
            $("#previous_reading").val('');
            $("#current_reading").val('');
            $("#electric_area").val(1).trigger('change');
            $("#reading_water").val('');
            $("#reading_tv").val('');
            $("#current_unit").val('');
            $("#month").val('');
            $("#previous_reading").focus();
            tabindex = 0;
        }
        function initElectricGrid() {
            Dtable = $(".electricGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/Recovery/GetAllPayments',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_electric_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_electric_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "paymenthistoryId", className: "hidden" },
                    { "title": "Payment Month", "data": "paymentMonth" },
                    { "title": "Outstanding", "data": "outstanding" },
                    { "title": "Amount Received", "data": "paymentAmount" },
                    { "title": "Date Added", "data": "paymenthistoryDatetime" },
                    { "title": "Arae", "data": "areaName" },
                    { "title": "SubArea", "data": "subAreaName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Resident Name", "data": "residentName" },
                    
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initElectricGridActions() {
            $(document).on('click', '.btn_electric_edit', function (e) {
                e.preventDefault();
                $('#btn_electric_update').show();
                $('#btn_electric_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                $('#electric_id').val(_id);
                $("#Amount").val(rowData.paymentAmount);             
                $("#month").val(rowData.paymentMonth);
            });
            $(document).on('click', '.btn_electric_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                console.log(_id);
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this Recovery Electric record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Recovery/DeleteReadingElectric',
                                type: 'POST',
                                data: { readingElectricId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initElectricGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });

            // $('#btn_electric_update').click(function () {
            //    var url = "/Recovery/AddPayment";
            //    var _amount = $("#Amount").val();
            //    var _month = $("#month").val();
            //    $.post(url, { paymentAmount: _amount, paymentMonth: _month, residentId: residentId, }, function (data) {
            //        if (data.resultCode == "1100") {
            //            swal("Added!", data.remarks, "success");
            //            initLocationGrid();
            //            clearFields();
            //        }
            //        else {
            //            $('.loading').hide();
            //            swal("Not Added", data.remarks, "error");
            //        }
            //    });
            //});

           

            $(document).on('click', '#btn_electric_update', function (e) {
                e.preventDefault();
                var _paymentId = $('#electric_id').val();
                if (_paymentId) {
                    var _paymentId = $("#electric_id").val();
                    var _amount = $("#Amount").val();
                    $.ajax({
                        url: '/Recovery/EditPayment',
                        type: 'POST',
                        data: {
                            paymenthistoryId: _paymentId,
                            paymentAmount: _amount,
                           
                        },
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (response) {
                            if (response.resultCode == '1100') {
                                swal("Updated!", response.remarks, "success");
                                initElectricGrid();
                                $('#btn_electric_update').hide();
                                $('#btn_electric_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                            }
                            else {
                                swal('Warning', response.remarks, 'warning');
                            }
                        },
                        error: function (a, b, c) {
                            swal('Error', a + b + c, 'error');
                        }
                    });

                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });        }
         $('#btn_electric_add').click(function () {
                console.log('ok');
                var _url = "/Recovery/AddPayment";
                var _amount = $("#Amount").val();
                var _month = $("#month").val();
                var formdata = new FormData(); //FormData object

                formdata.append("_amount", _amount);
                formdata.append("_residentId", residentId);
                formdata.append("_month", _month);
                $.ajax({
                    url: _url,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.resultCode == "1100") {
                            swal("Added!", data.remarks, "success");
                            initElectricGrid();
                            clearFields();
                        }
                        else {
                            $('.loading').hide();
                            swal("Not Added", data.remarks, "error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });

            });
        function initmeterNo(Id) {
            $.ajax({
                url: '/Management/GetLocationById',
                type: 'POST',
                data: { locationId: Id },
                success: function (response) {
                    if (response) {
                        if (response.resultCode == '1100') {
                            $('#consumer_no').val(response.locationElectricMeter);
                            $('#previous_reading').val(response.previousReading);
                            $('#current_reading').val(response.currentReading);
                            $('#current_unit').val(response.currentUnit);
                            $('#total_outstanding').val(response.outstanding);
                            $('#month').val(response.billMonth);
                            residentId = response.residentId;
                            console.log(residentId);
                        }
                        else {
                            swal("Warning", response.remarks, "warning");
                        }

                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }

            });
        }
          $("#consumer_no").change(function () {
            var _consumerNo = $('#consumer_no').val();
            console.log(_consumerNo);
            if (_consumerNo) {
                $.ajax({
                    url: '/Bill/getAllDetailByConsumerNo',
                    type: 'POST',
                    data: { locationElectricMeter: _consumerNo },
                    success: function (response) {
                        if (response.resultCode == '1100') {
                            $("#electric_area").val(response.areaName);
                            $("#electric_subarea").val(response.subAreaName);
                            $("#electric_resident").val(response.locationName);
                            $("#previous_reading").val(response.previousReading);
                            $("#total_outstanding").val(response.outstanding);
                            $("#current_reading").val(response.currentReading);
                            $("#current_unit").val(response.currentUnit);
                            $("#month").val(response.billMonth);
                           
                        }
                        else {
                            $('#electric_area').val('');
                            $('#electric_subarea').val('');
                            $('#electric_resident').val('');
                            $('#previous_reading').val('');

                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            }
            else {

            }

        });
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric Bill Recovery</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Add Bill Recovery</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Consumer No.</label>
                        <input type="number" value="" class="form-control" id="consumer_no" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Area</label>
                        <input readonly class="form-control dropdownlist" id="electric_area"></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label">SubArea</label>
                        <input readonly class="form-control dropdownlist" id="electric_subarea"></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Location</label>
                        <input readonly class="form-control dropdownlist" id="electric_resident"></input>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Outstandings</label>
                        <input type="number" value="" readonly class="form-control" id="total_outstanding" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Previous Reading</label>
                        <input type="number" value="" readonly class="form-control" id="previous_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Current Reading</label>
                        <input type="hidden" id="electric_id" value="" />
                        <input type="number" value="" readonly class="form-control" id="current_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Units</label>
                        <input type="number" value="" readonly class="form-control" id="current_unit" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Month</label>
                        <input type="text" value="" readonly class="form-control monthPicker" id="month" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Picture</label>
                        <input type="file" id="online_file" value="" class="form-control" accept=".jpg,.png,.jpeg,.pdf" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input type="number" value="" class="form-control" id="Amount" />
                    </div>

                    <div class="form-group">
                        <a href="#" id="btn_electric_add" class="btn btn-success pull-right">Submit</a>
                        <a href="#" id="btn_electric_update" class="btn btn-success pull-right">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills Recovered</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover electricGrid">
                       
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>