@{
    ViewBag.Title = "Bill Recovery";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var residentId = null;
        $(document).on('nifty.ready', function () {
            $('#btn_gas_update').hide();
            $('editTitle').hide();
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            initGasGrid();
            initGasGridActions();
        });
    </script>
    <script>
        function clearFields() {
            $("#gas_area").val('');
            $("#gas_subarea").val('');
            $("#gas_location").val('');
            $("#previous_reading").val('');
            $("#total_outstanding").val('');
            $("#current_reading").val('');
            $("#current_unit").val('');
            $("#month").val('');
            $("#amount_gas").val('');
            $("#Amount").val('');
        }
        function initGasGrid() {
            Dtable = $(".gasGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/Recovery/GetAllGasPayments',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_gas_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_gas_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "paymenthistoryId", className: "hidden" },
                    { "title": "Payment Month", "data": "paymentMonth" },
                    { "title": "Outstanding", "data": "outstanding" },
                    { "title": "Amount Received", "data": "paymentAmount" },
                    { "title": "Date Added", "data": "paymenthistoryDatetime" },
                    { "title": "Arae", "data": "areaName" },
                    { "title": "SubArea", "data": "subAreaName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Resident Name", "data": "residentName" },
                    {
                        "title": "Picture", "data": "pictureId", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.picturedata + "' class='img-sm img-thumbnail'/>";
                        }
                    },

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initGasGridActions() {
            $(document).on('click', '.btn_gas_edit', function (e) {
                e.preventDefault();
                $('#btn_gas_update').show();
                $('#btn_gas_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                $('#gas_id').val(_id);
                $("#Amount").val(rowData.paymentAmount);
                $("#month").val(rowData.paymentMonth);
            });
            $(document).on('click', '.btn_gas_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.paymenthistoryId;
                console.log(_id);
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this Recovery Gas record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Recovery/DeleteReadingElectric',
                                type: 'POST',
                                data: { readingElectricId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initGasGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });

          


            $(document).on('click', '#btn_gas_update', function (e) {
                e.preventDefault();
                var _paymentId = $('#gas_id').val();
                if (_paymentId) {
                    var _paymentId = $("#gas_id").val();
                    var _amount = $("#Amount").val();
                    $.ajax({
                        url: '/Recovery/EditGasPayment',
                        type: 'POST',
                        data: {
                            paymenthistoryId: _paymentId,
                            paymentAmount: _amount,

                        },
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (response) {
                            if (response.resultCode == '1100') {
                                swal("Updated!", response.remarks, "success");
                                initGasGrid();
                                $('#btn_gas_update').hide();
                                $('#btn_gas_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                            }
                            else {
                                swal('Warning', response.remarks, 'warning');
                            }
                        },
                        error: function (a, b, c) {
                            swal('Error', a + b + c, 'error');
                        }
                    });

                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });
        }
        $('#btn_gas_add').click(function () {
            console.log('ok');
            var _url = "/Recovery/AddPaymentGas";
            var _amount = $("#Amount").val();
            var _month = $("#month").val();
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('online_file');
            if (fileInput.files.length > 0) {
            formdata.append(fileInput.files[0].name, fileInput.files[0]);
            formdata.append("_amount", _amount);
            formdata.append("_residentId", residentId);
            formdata.append("_month", _month);
            $.ajax({
                url: _url,
                type: "POST",
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (data) {
                    if (data.resultCode == "1100") {
                        swal("Added!", data.remarks, "success");
                        initGasGrid();
                        clearFields();
                    }
                    else {
                        $('.loading').hide();
                        swal("Not Added", data.remarks, "error");
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                }
            });
            }
            else {
                swal('Warning', 'Please attach the meter image', 'warning');
            }
        });

        $("#consumer_no").change(function () {
            var _consumerNo = $('#consumer_no').val();
            console.log(_consumerNo);
            if (_consumerNo) {
                $.ajax({
                    url: '/Bill/getAllGasDetailsByConsumerNo',
                    type: 'POST',
                    data: { locationGassMeter: _consumerNo },
                    success: function (response) {
                        if (response.resultCode == '1100') {
                            $("#gas_area").val(response.areaName);
                            $("#gas_subarea").val(response.subAreaName);
                            $("#gas_location").val(response.locationName);
                            $("#previous_reading").val(response.previousReading);
                            $("#total_outstanding").val(response.outstanding);
                            $("#current_reading").val(response.currentReading);
                            $("#current_unit").val(response.currentUnit);
                            $("#month").val(response.billMonth);
                            $("#amount_gas").val(response.totalGasAmount);
                            residentId = response.residentId;

                        }
                        else {
                            clearFields()
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            }
            else {
                clearFields();
            }

        });
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Gas Bill Recovery</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Add Bill Recovery</h1>
                </div>
               
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Consumer No.</label>
                        <input type="number" value=""  class="form-control" id="consumer_no" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Area</label>
                        <input readonly class="form-control " id="gas_area">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select SubArea</label>
                        <input readonly class="form-control dropdownlist" id="gas_subarea">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Location</label>
                        <input readonly class="form-control" id="gas_location">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Outstandings</label>
                        <input type="number" value="" readonly class="form-control" id="total_outstanding" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Previous Reading</label>
                        <input type="number" value="" readonly class="form-control" id="previous_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Current Reading</label>
                        <input type="hidden" id="gas_id" value="" />
                        <input type="number" value="" readonly class="form-control" id="current_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Units</label>
                        <input type="number" value="" readonly class="form-control" id="current_unit" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Month</label>
                        <input type="text" value="" readonly class="form-control monthPicker" id="month" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Picture</label>
                        <input type="file" id="online_file" value="" class="form-control" accept=".jpg,.png,.jpeg,.pdf" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount</label>
                        <input readonly value="" class="form-control" id="amount_gas" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount Recived</label>
                        <input type="number" value="" class="form-control" id="Amount" />
                    </div>
                    <div class="form-group">
                        <a href="#" id="btn_gas_add" class="btn btn-success pull-right">Submit</a>
                        <a href="#" id="btn_gas_update" class="btn btn-success pull-right">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills Recovered</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover gasGrid">
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

