@{
    ViewBag.Title = "ROR";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
            initElectricGrid();
        });
    </script>
    <script>
                function initElectricGrid() {
            Dtable = $(".rorGrid").DataTable({
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORElectric',
                    "type": 'POST',
                    "dataSrc": function (data) {

                       if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {

                            
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                   
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billElectricId", className: "hidden" },
                    { "title": "Meter #", "data": "locationMeterNo" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Name", "data": "residentName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Unit/FMN", "data": "residentUnit" },
                    { "title": "Previous Reading", "data": "billElectricPrevReading" },
                    { "title": "Present Reading", "data": "billElectricCurrentReading" },
                    { "title": "Units", "data": "billElectricUnits" },
                    { "title": "Amount", "data": "billElectricAmount" },
                    { "title": "Water", "data": "billElectricWater" },
                    { "title": "TV", "data": "billElectricTv" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billElectricRemarks" }
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }

    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric ROR</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills ROR</h1>
                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover rorGrid"></table>
                   
                </div>
            </div>
        </div>
    </div>


</div>