@{
    ViewBag.Title = "ROR";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var Dtable2 = null;
        var Dtable = null;
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $(".datepick").datepicker({
                format: "dd-mm-yyyy"
            });
            initElectricGrid();
            initfilters();
            initDropDowns();
        });
    </script>
    <script>
        function initElectricGrid() {
            Dtable = $(".rorGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORElectric',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [

                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billElectricId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Area", "data": "locationName" },
                    { "title": "Sub Area", "data": "locationName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Name", "data": "residentName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Unit/FMN", "data": "residentUnit" },
                    { "title": "Previous Reading", "data": "billElectricPrevReading" },
                    { "title": "Present Reading", "data": "billElectricCurrentReading" },
                    { "title": "Units", "data": "billElectricUnits" },
                    { "title": "Electric Charges", "data": "billElectricRebate" },
                    { "title": "FPA", "data": "billElectricFpa" },
                    { "title": "Water", "data": "billElectricWater" },
                    { "title": "TV", "data": "billElectricTv" },
                    { "title": "Total Amount", "data": "billElectricAmount" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billElectricRemarks" }
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initfilters() {

            $('#btn_search_paNo').click(function () {
                var paNo = $('#paNo').val();
                if (paNo == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByPaNo", paNo);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_area').click(function () {
                var area = $('#area').val();
                if (area == "all") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByArea", area);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_unit').click(function () {
                var unit = $('#unit').val();
                if (unit == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByUnit", unit);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_rank').click(function () {
                var rank = $('#rank').val();
                if (rank == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByRank", rank);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_month').click(function () {
                var month = $('#month').val();
                if (month == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByMonth", month);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_date').click(function () {
                var date = $('#date').val();
                if (date == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByDateEntered", date);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_amount').click(function () {
                var amount = $('#amount').val();
                if (amount == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByAmount", amount);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_meterNo').click(function () {
                var meterNo = $('#meterNo').val();
                if (meterNo == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByMeterNo", meterNo);
                    swal("Filterion Completed", "", "success");
                }
            });
            $('#btn_search_resident').click(function () {
                var resident = $('#resident').val();
                if (resident == "") {
                    filterElectricGrid("/ROR/GetAllRORElectric", null);
                    swal("Filterion Completed", "", "success");
                }
                else {
                    filterElectricGrid("/ROR/GetAllRORElectricByResident", resident);
                    swal("Filterion Completed", "", "success");
                }
            });

        }
        function filterElectricGrid(url, id) {
            Dtable2 = $(".rorGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": url,
                    "type": 'POST',
                    "data":
                    {
                        billElectricId: id
                    },
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                        }
                        else {

                            return [];
                        }

                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }

                },
                "columns": [

                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billElectricId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Area", "data": "locationName" },
                    { "title": "Sub Area", "data": "locationName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Name", "data": "residentName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Unit/FMN", "data": "residentUnit" },
                    { "title": "Previous Reading", "data": "billElectricPrevReading" },
                    { "title": "Present Reading", "data": "billElectricCurrentReading" },
                    { "title": "Units", "data": "billElectricUnits" },
                    { "title": "Electric Charges", "data": "billElectricRebate" },
                    { "title": "FPA", "data": "billElectricFpa" },
                    { "title": "Water", "data": "billElectricWater" },
                    { "title": "TV", "data": "billElectricTv" },
                    { "title": "Total Amount", "data": "billElectricAmount" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billElectricRemarks" }
                ]

            });
            Dtable2.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initDropDowns() {

            $.ajax({
                url: '/Management/GetAllAreas',
                type: 'POST',
                success: function (response) {
                    if (response) {
                        if (response[0].resultCode == '1100') {
                            var list = [];
                            for (var i = 0; i < response.length; i++) {
                                list.push({ text: response[i].areaName, id: response[i].areaId });
                            }
                            list.push({ text: "All", id: "all" });
                            $('#area').select2({ data: list }).trigger('change');
                            $('#area').val('all').trigger('change');
                        }
                        else {
                            $('#area').select2({
                                placeholder: "area not found ",
                                allowClear: true
                            }).trigger('change');
                            swal("Warning", response[0].remarks, "warning");
                        }
                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }
            });
        }
    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric ROR</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-dark panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Search Filters</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Month</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" id="month" />
                                <span id="btn_search_month" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Date</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Date" class="form-control datepick" id="date" />
                                <span id="btn_search_date" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Amount</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Amount" class="form-control " id="amount" />
                                <span id="btn_search_amount" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Area</label>
                            <div class="input-group">
                                <select class="form-control dropdownlist" id="area"></select>
                                <span class="input-group-addon btn btn-info" id="btn_search_area"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Resident</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Resident" class="form-control" id="resident" />
                                <span id="btn_search_resident" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Consumer #</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Meter#" class="form-control" id="meterNo" />
                                <span id="btn_search_meterNo" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By PA No</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter PA No" class="form-control " id="paNo" />
                                <span id="btn_search_paNo" class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Unit/Fmn</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Unit/Fmn" class="form-control " id="unit" />
                                <span class="input-group-addon btn btn-info" id="btn_search_unit"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Rank</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Rank" class="form-control " id="rank" />
                                <span class="input-group-addon btn btn-info" id="btn_search_rank"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills ROR</h1>
                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover rorGrid"></table>

                </div>
            </div>
        </div>
    </div>


</div>