@{
    ViewBag.Title = "Bill Recovery";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $('.grid').dataTable();
        });
    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Wapda Bill Recovery</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Add Bill Recovery</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Select Area</label>
                        <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Resident</label>
                        <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Meter No.</label>
                        <input type="number" value="" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Total Outstanding</label>
                        <input type="number" value="" readonly class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Month</label>
                        <input type="text" value="" class="form-control monthPicker" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Amount Received</label>
                        <input type="number" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <a href="#" id="btn-add" class="btn btn-success pull-right">Submit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills Recovered</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover grid">
                        <thead>
                            <tr><th>Sr.</th><th>Billing Month</th><th>Meter #</th><th>Total Outstanding</th><th>Amount Received</th><th>Date Added</th><th>Status</th></tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>