@{
    ViewBag.Title = "Bill Generation";
    int tabindex = 0;
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var Id = null;
        var fileCounter = 0;
        var dataSet = [];
        var _prevResd = null;
        var subareaId = null;
        var locationId = null;
        $(document).on('nifty.ready', function () {
            $('#btn_electric_update').hide();
            $('editTitle').hide();
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $('#btn_online_upload').on('click', function (e) {
                e.preventDefault();
                addFile($("#online_file")[0].files[0]);
            });
            initElectricGrid();
           
            initElectricGridActions();

        });
    </script>
    <script>
        function clearFields() {
            $('#electric_id').val('');
            $("#consumer_no").val('');
            $("#previous_reading").val('');
            $("#current_reading").val('');
            $("#electric_area").val(1).trigger('change');
            $("#reading_water").val('');
            $("#reading_tv").val('');
            $("#current_unit").val('');
            $("#month").val('');
            $("#previous_reading").focus();
            tabindex = 0;

        }
        function clear() {
            $('#electric_id').val('');
            $("#consumer_no").val('');
            $("#previous_reading").val('');
            $("#current_reading").val('');
            $("#reading_water").val('');
            $("#reading_tv").val('');
            $("#current_unit").val('');
            $("#month").val('');
            $("#previous_reading").focus();
            tabindex = 0;
        }
        function initElectricGrid() {
            Dtable = $(".electricGrid").DataTable({
                autoWidth: true,
                destroy: true,
                scrollX:true,
                "ajax": {
                    "url": '/Bill/GetAllReadingsElectric',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_electric_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_electric_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "readingElectricId", className: "hidden" },
                    { "title": "AreaId", "data": "area_id", className: "hidden" },
                    { "title": "SubAreaId", "data": "subarea_id", className: "hidden" },
                    { "title": "LocationId", "data": "location_id", className: "hidden" },
                    { "title": "Billing Month", "data": "readingElectricMonth" },
                    { "title": "Consumer #", "data": "readingElectricMeterNo" },
                    { "title": "Area", "data": "area_name" },
                    { "title": "Sub Area", "data": "subarea_name" },
                    { "title": "Location", "data": "location_name" },
                    { "title": "Previous Reading", "data": "readingElectricPrevReading" },
                    { "title": "Current Reading", "data": "readingElectricCurrentReading" },
                    { "title": "Current Units", "data": "readingElectricUnits" },
                    { "title": "Water", "data": "readingElectricWater" },
                    { "title": "TV", "data": "readingElectricTv" },
                    { "title": "Date Added", "data": "readingElectricDatetime" },
                    { "title": "Added By", "data": "readingElectricAddedby" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.readingpicture_type + ";base64, " + row.readingpicture_data + "' class='img-sm img-thumbnail'/>";
                        }
                    },

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initElectricGridActions() {
            $(document).on('click', '.btn_electric_edit', function (e) {
                e.preventDefault();
                $('#btn_electric_update').show();
                $('#btn_electric_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.readingElectricId;
                $('#electric_id').val(_id);
                $("#consumer_no").val(rowData.readingElectricMeterNo);
                $("#electric_area").val(rowData.area_id).trigger('change');
                subareaId = rowData.subarea_id;
                locationId = rowData.location_id;
                $("#previous_reading").val(rowData.readingElectricPrevReading);
                $("#current_reading").val(rowData.readingElectricCurrentReading);
                $("#current_unit").val(rowData.readingElectricUnits);
                $("#month").val(rowData.readingElectricMonth);
                $("#reading_water").val(rowData.readingElectricWater);
                $("#reading_tv").val(rowData.readingElectricTv);
                _prevResd = rowData.readingElectricPrevReading;
            });
            $(document).on('click', '.btn_electric_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.readingElectricId;
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this readingElectric record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Bill/DeleteReadingElectric',
                                type: 'POST',
                                data: { readingElectricId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initElectricGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a Reading", "warning");
                }
            });
            $('#btn_electric_add').click(function () {
                var _url = "/Bill/AddReadingElectric";
                var _meterNo = $("#consumer_no").val();
                var _currentReading = $("#current_reading").val();
                var _previousReading = $("#previous_reading").val();
                var _currentUnit = $("#current_unit").val();
                var _month = $("#month").val();
                var _water = $("#reading_water").val();
                var _tv = $("#reading_tv").val();
                var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('online_file');
                if (fileInput.files[0] != null) {
                    formdata.append(fileInput.files[0].name, fileInput.files[0]);
                }
                
                formdata.append("_meterNo", _meterNo);
                formdata.append("_previousReading", _previousReading);
                formdata.append("_currentReading", _currentReading);
                formdata.append("_currentUnit", _currentUnit);
                formdata.append("_month", _month);
                formdata.append("_water", _water);
                formdata.append("_tv", _tv);
                $.ajax({
                    url: _url,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.resultCode == "1100") {
                            swal("Added!", data.remarks, "success");
                            initElectricGrid();
                            clearFields();
                        }
                        else {
                            $('.loading').hide();
                            swal("Not Added", data.remarks, "error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });

            });
            $(document).on('click', '#btn_electric_update', function (e) {
                e.preventDefault();
                var _electricId = $('#electric_id').val();
                if (_electricId) {
                    var _url = "/Bill/EditReadingElectric";
                    var _electricId = $("#electric_id").val();
                    var _meterNo = $("#consumer_no").val();
                    var _currentReading = $("#current_reading").val();
                    var _previousReading = $("#previous_reading").val();
                    var _currentUnit = $("#current_unit").val();
                    var _month = $("#month").val();
                    var _water = $("#reading_water").val();
                    var _tv = $("#reading_tv").val();
                    var formdata = new FormData(); //FormData object
                    var fileInput = document.getElementById('online_file');
                    if (fileInput.files.length > 0) {
                        formdata.append(fileInput.files[0].name, fileInput.files[0]);
                    }
                    formdata.append("_meterNo", _meterNo);
                    formdata.append("_previousReading", _previousReading);
                    formdata.append("_currentReading", _currentReading);
                    formdata.append("_currentUnit", _currentUnit);
                    formdata.append("_month", _month);
                    formdata.append("_water", _water);
                    formdata.append("_tv", _tv);
                    formdata.append("_id", _electricId);
                    $.ajax({
                        url: _url,
                        type: "POST",
                        data: formdata,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (data) {
                            if (data.resultCode == "1100") {
                                swal("Updated!", data.remarks, "success");
                                initElectricGrid();
                                $('#btn_electric_update').hide();
                                $('#btn_electric_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                            }
                            else {
                                $('.loading').hide();
                                swal("Not Updated", data.remarks, "error");
                            }
                        },
                        error: function (jqXHR, textStatus, errorMessage) {
                            console.log(errorMessage);
                        }
                    });

                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });
        }

        function initDropDowns() {
            $.ajax({
                url: '/Management/GetAllAreas',
                type: 'POST',
                success: function (response) {
                    if (response) {
                        if (response[0].resultCode == '1100') {
                            var list = [];
                            for (var i = 0; i < response.length; i++) {
                                list.push({ text: response[i].areaName, id: response[i].areaId });
                            }
                            $('#electric_area').select2({ data: list }).trigger('change');


                        }
                        else {
                            $('#electric_area').select2({
                                placeholder: "area not found ",
                                allowClear: true
                            }).trigger('change');
                        }
                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }

            });
            $("#electric_area").change(function () {
                var _areaId = $("#electric_area").val();
                $.ajax({
                    url: '/Management/GetAllSubAreasByArea',
                    type: 'POST',
                    data: { fk_area: _areaId },
                    success: function (response) {
                        if (response) {
                            if (response[0].resultCode == '1100') {
                                var list = [];
                                for (var i = 0; i < response.length; i++) {
                                    list.push({ text: response[i].subAreaName, id: response[i].subAreaId });

                                }
                                $('#electric_subarea').select2().empty();
                                $('#electric_subarea').select2({ data: list });
                                if (subareaId) {
                                    $('#electric_subarea').val(subareaId);
                                }
                                $('#electric_subarea').trigger('change');
                                
                            }
                            else {
                                $('#electric_subarea').select2().empty();
                                $('#electric_subarea').select2({
                                    placeholder: "SubArea not found ",
                                    allowClear: true
                                }).trigger('change');
                            }
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
                
            });

            $("#electric_subarea").change(function () {
                var _subareaId = $("#electric_subarea").val();
                $.ajax({
                    url: '/Management/GetAllLocationsBySubArea',
                    type: 'POST',
                    data: { fk_subArea: _subareaId },
                    success: function (response) {
                        if (response) {
                            if (response[0].resultCode == '1100') {
                                var list = [];
                                for (var i = 0; i < response.length; i++) {
                                    list.push({ text: response[i].locationName, id: response[i].locationId });

                                }
                                $('#electric_resident').select2().empty();
                                $('#electric_resident').select2({ data: list });
                                if (locationId) {
                                    $('#electric_resident').val(locationId);
                                }
                                else {
                                    clear();
                                }
                                $('#electric_resident').trigger('change');
                                
                            }
                            else {
                                $('#electric_resident').select2().empty();
                                $('#electric_resident').select2({
                                    placeholder: "resident not found ",
                                    allowClear: true
                                }).trigger('change');
                            }
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            });
            $("#electric_resident").change(function () {
                if ($("#electric_resident").val()) {
                    initmeterNo($('#electric_resident').val());                    
                }
                
            });
        }
        function initmeterNo(Id) {
            $.ajax({
                url: '/Management/GetLocationById',
                type: 'POST',
                data: { locationId: Id },
                success: function (response) {
                    console.log(response);
                    if (response) {
                        if (response.resultCode == '1100') {
                            $('#consumer_no').val(response.locationElectricMeter);
                            if (!locationId) {
                                $('#previous_reading').val(response.currentReading);
                            }
                        }
                        else {
                            swal("Warning", response.remarks, "warning");
                        }

                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }

            });

        }
        $("#current_reading").change(function () {
            var currentReading = $('#current_reading').val();
            var previousReading = $('#previous_reading').val();
            if (currentReading) {
                if (previousReading) {
                    var unit = currentReading - previousReading;
                    $('#current_unit').val(unit);
                }
                else {
                    var unit = currentReading - 0;
                    $('#current_unit').val(unit);
                }
            }
            
        });

        $("#consumer_no").change(function () {
            var _consumerNo = $('#consumer_no').val();
            console.log(_consumerNo);
            if (_consumerNo) {
                $.ajax({
                    url: '/Bill/getAllDetailByConsumerNo',
                    type: 'POST',
                    data: { locationElectricMeter: _consumerNo },
                    success: function (response) {
                        if (response.resultCode == '1100') {
                            $("#electric_area").val(response.areaName);
                            $("#electric_subarea").val(response.subAreaName);
                            $("#electric_resident").val(response.locationName);
                            $("#previous_reading").val(response.previousReading);
                           
                        }
                        else {
                            clearFields();

                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            }
            else {

            }

        });


    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric Bill Entry</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Generate Bill</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Consumer #.</label>
                        <input tabindex="1" type="number" value=""  class="form-control" id="consumer_no" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Area</label>
                        <input readonly class="form-control dropdownlist" id="electric_area"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> SubArea</label>
                        <input  readonly class="form-control dropdownlist" id="electric_subarea"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Location</label>
                        <input  readonly class="form-control dropdownlist" id="electric_resident"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="label_PR">Previous Reading</label>
                        <input tabindex="4" type="number" value="" class="form-control" id="previous_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Current Reading</label>
                        <input type="hidden" id="electric_id" value="" />
                        <input tabindex="5" type="number" value="" class="form-control" id="current_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Units</label>
                        <input tabindex="6" type="number" value="" class="form-control" id="current_unit" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Water</label>
                        <input tabindex="7" type="number" value="" class="form-control" id="reading_water" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tv</label>
                        <input tabindex="8" type="number" value="" class="form-control" id="reading_tv" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Picture</label>
                        <input tabindex="9" type="file" id="online_file" value="" class="form-control" accept=".jpg,.png,.jpeg,.pdf" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Month</label>
                        <input tabindex="10" type="text" value="" class="form-control monthPicker" id="month" />
                    </div>
                    <div class="form-group">
                        <a href="#" tabindex="11" id="btn_electric_add" class="btn btn-success pull-right">Submit</a>
                        <a href="#" tabindex="11" id="btn_electric_update" class="btn btn-success pull-right">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-heading">
                    <h1 class="panel-title">Bills Generated</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover electricGrid"></table>
                </div>
            </div>
        </div>
    </div>
</div>
