@{
    ViewBag.Title = "Bill Generation";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var Id = null;
        var fileCounter = 0;
        var dataSet = [];
        var _prevResd = null;
        $(document).on('nifty.ready', function () {
            $('.dropdownlist').select2();
            $('#btn_electric_update').hide();
            $('editTitle').hide();
            $('#prev_read').hide();
            $('#label_NPR').hide();
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $('#btn_online_upload').on('click', function (e) {
                e.preventDefault();
                addFile($("#online_file")[0].files[0]);
            });
            initElectricGrid();
            initDropDowns();
            initElectricGridActions();
           
        });
    </script>
    <script>
        function clearFields() {
            $('#electric_id').val('');
            $("#meter_no").val('');
            $("#previous_reading").val('');
            $("#current_reading").val('');
            $("#current_unit").val('');
            $("#month").val('');
        }
        function initElectricGrid() {
            Dtable = $(".electricGrid").DataTable({
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/Bill/GetAllReadingsElectric',
                    "type": 'POST',
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Action',
                        render: function (data, type, row, meta) {
                            return "<div class='btn-group'><a href='#' class='btn-sm btn-info btn_electric_edit'><i class='fa fa-edit'></i></a><a href='#' class='btn-sm btn-danger btn_electric_delete'><i class='fa fa-trash'></i></a></div>";
                        }
                    },
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "readingElectricId", className: "hidden" },
                    { "title": "Billing Month", "data": "readingElectricMonth" },
                    { "title": "Meter #", "data": "readingElectricMeterNo" },
                    { "title": "Previous Reading", "data": "readingElectricPrevReading" },
                    { "title": "Current Reading", "data": "readingElectricCurrentReading" },
                    { "title": "Current Units", "data": "readingElectricUnits" },
                    { "title": "Date Added", "data": "readingElectricDatetime" },
                     { "title": "Added By", "data": "readingElectricAddedby" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.readingpicture_type + ";base64, " + row.readingpicture_data + "' class='img-sm img-thumbnail'/>";
                        }
                    },

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
        function initElectricGridActions() {
            $(document).on('click', '.btn_electric_edit', function (e) {
                e.preventDefault();
                $('#btn_electric_update').show();
                $('#btn_electric_add').hide();
                $('#addTitle').hide();
                $('#editTitle').show();
                $('#prev_read').hide();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.readingElectricId;
                $('#electric_id').val(_id);
                $("#meter_no").val(rowData.readingElectricMeterNo);
                $("#previous_reading").val(rowData.readingElectricPrevReading);
                $("#current_reading").val(rowData.readingElectricCurrentReading);
                $("#current_unit").val(rowData.readingElectricUnits);
                $("#month").val(rowData.readingElectricMonth);
            });
            $(document).on('click', '.btn_electric_delete', function (e) {
                e.preventDefault();
                var rowData = Dtable.row($(this).parents('tr')).data();
                var _id = rowData.readingElectricId;
                if (_id) {
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this readingElectric record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                        function () {
                            $.ajax({
                                url: '/Bill/DeleteReadingElectric',
                                type: 'POST',
                                data: { readingElectricId: _id },
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                                complete: function () {
                                    $('.loading').hide();
                                },
                                success: function (response) {
                                    if (response.resultCode == '1100') {
                                        swal("Deleted!", response.remarks, "success");
                                        initElectricGrid();
                                    }
                                    else {
                                        swal('Warning', response.remarks, 'warning');
                                    }
                                },
                                error: function (a, b, c) {
                                    swal('Error', a + b + c, 'error');
                                }
                            });

                        });
                }
                else {
                    swal("Warning", "Please select a Reading", "warning");
                }
            });
            $('#btn_electric_add').click(function () {
                var _url = "/Bill/AddReadingElectric";
                var _meterNo = $("#meter_no").val();
                var _currentReading = $("#current_reading").val();
                var _currentUnit = $("#current_unit").val();
                var _month = $("#month").val();
                var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('online_file');
                formdata.append(fileInput.files[0].name, fileInput.files[0]);
                formdata.append("_meterNo", _meterNo);
                formdata.append("_previousReading", _prevResd);
                formdata.append("_currentReading", _currentReading);
                formdata.append("_currentUnit", _currentUnit);
                formdata.append("_month", _month);
                $.ajax({
                    url: _url,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.resultCode == "1100") {
                            swal("Added!", data.remarks, "success");
                            initElectricGrid();
                            clearFields();
                        }
                        else {
                            $('.loading').hide();
                            swal("Not Added", data.remarks, "error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });

            });
            $(document).on('click', '#btn_electric_update', function (e) {
                e.preventDefault();
                var _electricId = $('#electric_id').val();
                if (_electricId) {
                    var _url = "/Bill/EditReadingElectric";
                    var _electricId = $("#electric_id").val();
                    var _meterNo = $("#meter_no").val();
                    var _currentReading = $("#current_reading").val();
                    var _currentUnit = $("#current_unit").val();
                    var _month = $("#month").val();
                    var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('online_file');
                formdata.append(fileInput.files[0].name, fileInput.files[0]);
                formdata.append("_id", _electricId);
                formdata.append("_meterNo", _meterNo);
                formdata.append("_previousReading", _prevResd);
                formdata.append("_currentReading", _currentReading);
                formdata.append("_currentUnit", _currentUnit);
                formdata.append("_month", _month);
                 $.ajax({
                    url: _url,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.resultCode == "1100") {
                            swal("Updated!", data.remarks, "success");
                                initElectricGrid();
                                $('#btn_electric_update').hide();
                                $('#btn_electric_add').show();
                                $('#addTitle').show();
                                $('#editTitle').hide();
                                clearFields();
                        }
                        else {
                            $('.loading').hide();
                            swal("Not Updated", data.remarks, "error");
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });

                }
                else {
                    swal("Warning", "Please select a location", "warning");
                }
            });
        }

        function initDropDowns() {
            $.ajax({
                url: '/Management/GetAllAreasByUser',
                type: 'POST',
                success: function (response) {
                    if (response) {
                        if (response[0].resultCode == '1100') {
                            var list = [];
                            for (var i = 0; i < response.length; i++) {
                                list.push({ text: response[i].areaName, id: response[i].areaId });
                            }
                            $('#electric_area').select2({ data: list }).trigger('change');


                        }
                        else {
                            $('#electric_area').select2({
                                placeholder: "area not found ",
                                allowClear: true
                            }).trigger('change');
                        }
                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }

            });

            $("#electric_area").change(function () {
                var _areaId = $("#electric_area").val();
                $.ajax({
                    url: '/Management/GetAllLocationsByArea',
                    type: 'POST',
                    data: { fk_area: _areaId },
                    success: function (response) {
                        if (response) {
                            if (response[0].resultCode == '1100') {
                                var list = [];
                                for (var i = 0; i < response.length; i++) {
                                    list.push({ text: response[i].locationName, id: response[i].locationId });

                                }
                                $('#electric_resident').select2().empty();
                                $('#electric_resident').select2({ data: list }).trigger('change');
                                Id = $('#electric_resident').val();
                                initmeterNo(Id);
                            }
                            else {
                                $('#electric_resident').select2().empty();
                                $('#electric_resident').select2({
                                    placeholder: "resident not found ",
                                    allowClear: true
                                }).trigger('change');
                            }
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }
                });
            });
        }
        function initmeterNo(Id) {
            $.ajax({
                url: '/Management/GetLocationById',
                type: 'POST',
                data: { locationId: Id },
                success: function (response) {
                    if (response) {
                        if (response.resultCode == '1100') {
                            $('#meter_no').val(response.locationElectricMeter);
                            $('#previous_reading').val(response.previousReading);
                            _prevResd = $("#previous_reading").val();
                            if (_prevResd == '0') {
                                $('#prev_read').show();
                                $('#label_NPR').show();
                                $('#label_PR').hide();
                                $('#previous_reading').hide();
                            }
                        }
                        else {
                            swal("Warning", response.remarks, "warning");
                        }

                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }

            });

        }
        $("#current_reading").change(function () {
            if (_prevResd == "0") {
                _prevResd = $('#prev_read').val();
                currentReading = $('#current_reading').val();
                var unit = currentReading - _prevResd;
                $('#current_unit').val(unit);
            }
            else {

                currentReading = $('#current_reading').val();
                var unit = currentReading - _prevResd;
                $('#current_unit').val(unit);
            }

        });
                       
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Electric Bill Entry</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-warning panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Generate Bill</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Select Area</label>
                        <select class="form-control dropdownlist" id="electric_area"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Location</label>
                        <select class="form-control dropdownlist" id="electric_resident"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Meter No.</label>
                        <input type="number" value="" readonly class="form-control" id="meter_no" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="label_PR">Previous Reading</label>
                        <input type="number" value="" readonly class="form-control" id="previous_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="label_NPR">new Previous Reading</label>
                        <input type="number" value=""  class="form-control" id="prev_read" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Enter Current Reading</label>
                        <input type="hidden" id="electric_id" value="" />
                        <input type="number" value="" class="form-control" id="current_reading" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Current Units</label>
                        <input type="number" value="" class="form-control" id="current_unit" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Picture</label>
                        <input type="file" id="online_file" value="" class="form-control" accept=".jpg,.png,.jpeg,.pdf" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Select Month</label>
                        <input type="text" value="" class="form-control monthPicker" id="month" />
                    </div>
                    <div class="form-group">
                        <a href="#" id="btn_electric_add" class="btn btn-success pull-right">Submit</a>
                        <a href="#" id="btn_electric_update" class="btn btn-success pull-right">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-heading">
                    <h1 class="panel-title">Bills Generated</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover electricGrid"></table>
                </div>
            </div>
        </div>
    </div>
</div>
