@model BillingManagementSystem.Models.ViewModels.ResidentViewModel
@{
    ViewBag.Title = "Resident Profile";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var Dtable = null;
        var Dtable2 = null;
        var residentId = '@{ var cId = "";  if (Model != null) { cId = Model.resident_id; } }@cId';
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $(".datepick").datepicker({
                format: "dd-mm-yyyy"
            });
           fetchResidentDetails(residentId);
            initResidentElectricDetails(residentId);
            initResidentGasDetails(residentId);
        });
    </script>
    <script>
        function fetchResidentDetails(_id) {
            if (_id) {
                $.ajax({
                    url: '/Management/GetResidentById',
                    type: 'POST',
                    data: { residentId: _id },
                    success: function (response) {
                        if (response.resultCode == "1100") {

                            $("#resident_pano").text(response.residentPaNumber);
                            $("#resident_rank").text(response.residentRank);
                            $("#resident_name").text(response.residentName);
                            $("#resident_unit").text(response.residentUnit);
                            $("#resident_Os").text(response.totatOutStandings);
                            $("#resident_area").text(response.areaName);
                            $("#resident_subarea").text(response.subAreaName);
                            $("#resident_location").text(response.locationName);
                            $("#resident_title").text(response.residentRank + " " + response.residentName);
                            

                        }
                        else {
                            swal('Warning', response.remarks, 'warning');
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }

                });
            }

        };
        function initResidentElectricDetails(_id) {
            Dtable = $(".electricGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORElectricByResidentId',
                    "type": 'POST',
                   "data":
                    {
                        fk_resident: _id
                    },
                    "dataSrc": function (data) {
                        console.log(data);
                        if (data.length > 0) {
                                if (data[0].resultCode == '1100') {
                                return data;
                                }
                                else
                                {
                                return [];
                            }
                        }
                        else {

                            return [];
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [

                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billElectricId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Billing Month", "data": "billElectricMonth" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Previous Reading", "data": "billElectricPrevReading" },
                    { "title": "Present Reading", "data": "billElectricCurrentReading" },
                    { "title": "Unit", "data": "billElectricUnits" },
                    { "title": "Energy Charges", "data": "electricCharges" },
                    { "title": "Amount", "data": "billElectricAmount" },
                    { "title": "Payment Status", "data": "paymentStatusName" },
                    { "title": "Outstanding", "data": "billElectricOutstanding" },
                    { "title": "Water", "data": "billElectricWater" },
                    { "title": "TV", "data": "billElectricTv" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },                    { "title": "Remarks", "data": "billElectricRemarks" },
                    { "title": "Payment", "data": "payment" },
                    { "title": "Payment Date", "data": "paymentMonth" },



                ]

            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }

        function initResidentGasDetails(_id) {
            Dtable2 = $(".gasGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORGasByResidentId',
                    "type": 'POST',
                   "data":
                    {
                        fk_resident: _id
                    },
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                                if (data[0].resultCode == '1100') {
                                return data;
                                }
                                else
                                {
                                return [];
                            }
                            
                            
                            
                        }
                        else {

                            return [];
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [

                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billGasId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Billing Month", "data": "billGasMonth" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Previous Reading", "data": "billGasPrevReading" },
                    { "title": "Present Reading", "data": "billGasCurrentReading" },
                    { "title": "MM BTU", "data": "billGasUnits" },
                    { "title": "Energy Charges", "data": "gasCharges" },
                    { "title": "Amount", "data": "billGasAmount" },
                    { "title": "Payment Status", "data": "paymentStatusName" },
                    { "title": "Outstanding", "data": "billGasOutstanding" },
                    { "title": "Difference", "data": "billGasUnits" },
                    { "title": "M/Rent", "data": "gasCharges" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billGasRemarks" },
                    { "title": "Payment", "data": "payment" },
                    { "title": "Payment Date", "data": "paymentMonth" },

                ]

            });
            Dtable2.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }

    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Resident Profile : <span id="resident_title"></span></h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-dark panel-colorful">
                <div class="panel-body text-center">
                    <p class="text-bold">
                        Area :
                        <i class="text-uppercase" id="resident_area"></i>
                    </p>
                    <p class="text-bold">
                        Sub Area :
                        <i class="text-uppercase" id="resident_subarea"></i>
                    </p>
                    <p class="text-bold">
                        Location :
                        <i class="text-uppercase" id="resident_location"></i>
                    </p>
                    <p class="text-bold">
                        Rank :
                        <i class="text-uppercase" id="resident_rank"></i>
                    </p>
                    <p class="text-bold">
                        Name :
                        <i class="text-uppercase" id="resident_name"></i>
                    </p>
                    <p class="text-bold">
                        PA No. :
                        <i class="text-uppercase" id="resident_pano"></i>
                    </p>
                    <p class="text-bold">
                        Unit / FMN :
                        <i class="text-uppercase" id="resident_unit"></i>
                    </p>
                    <p class="text-bold">
                        Total Outstanding :
                        <span id="resident_Os"></span>
                    </p>
                    <button id="btnEditDetails" class="btn btn-primary">Edit Resident Details</button>
                    <button id="btnEditLocation" class="btn btn-warning">Create Vocation</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-base">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab0" data-toggle="tab" aria-expanded="true">Electric Bill</a>
                    </li>
                    <li>
                        <a href="#tab1" data-toggle="tab" aria-expanded="true">Gas Bill</a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab" aria-expanded="true">Wapda Bill</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab0" class="tab-pane fade active in">
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                        <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover electricGrid"></table>


                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                        <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-responsive table-hover grid">
                                    <thead>
                                        <tr><th>Sr.</th><th>Consumer No #</th><th>Billing Month</th><th>Location</th><th>Previous Reading</th><th>Present Reading</th><th>Units</th><th>Energy Charges</th><th>Amount</th><th>Picture</th><th>Remarks</th><th>Payment</th><th>Payment Date</th></tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab1" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                        <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover gasGrid"></table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>