@model BillingManagementSystem.Models.ViewModels.ResidentViewModel
@{
    ViewBag.Title = "Resident Profile";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        var Dtable = null;
        var residentId = '@{ var cId = "";  if (Model != null) { cId = Model.resident_id; } }@cId';
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
            $(".datepick").datepicker({
                format: "dd-mm-yyyy"
            });
          fetchResidentDetails(residentId);
            initResidentDetails(residentId);
           
        });
    </script>
    <script>
        function fetchResidentDetails(_id) {
            if (_id) {
                $.ajax({
                    url: '/Management/GetResidentById',
                    type: 'POST',
                    data: { residentId: _id },
                    success: function (response) {
                        if (response.resultCode == "1100") {

                            $("#resident_pano").text(response.residentPaNumber);
                            $("#resident_rank").text(response.residentRank);
                            $("#resident_name").text(response.residentName);
                            $("#resident_unit").text(response.residentUnit);
                            $("#resident_Os").text(response.totatOutStandings);
                            
                        }
                        else {
                            swal('Warning', response.remarks, 'warning');
                        }
                    },
                    error: function (a, b, c) {
                        swal('Error', a + b + c, 'error');
                    }

                });
            }

        };
        function initResidentDetails(_id) {
            Dtable = $(".residentGrid").DataTable({
                scrollX: true,
                destroy: true,
                "ajax": {
                    "url": '/Management/GetResidentById',
                    "type": 'POST',
                    "data":
                    { residentId: _id },
                    "dataSrc": function (data) {
                        console.log(data);
                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            else {

                                return [];
                            }
                        }
                        else {
                            return [];
                        }
                        
                        },
                        "error": function (a, b, c) {
                            swal({
                                title: "Error",
                                text: a.status + ": " + c,
                                type: "error"
                            });
                        }
                    
                },
                
                 "columns": [

                     
                     {
                         title: 'Sr. #',
                         render: function (data, type, row, meta) {
                             return meta.row + meta.settings._iDisplayStart + 1;
                         }
                     },
                     { "title": "Id", "data": "residentId", className: "hidden" },
                     { "title": "PaNumber", "data": "residentPaNumber" },
                     { "title": "Rank", "data": "residentRank" },
                     { "title": "Name", "data": "residentName" },
                     { "title": "Unit", "data": "residentUnit" },
                     { "title": "Remarks", "data": "residentRemarks" },
                     { "title": "Totat Out Standings", "data": "totatOutStandings" },
                     { "title": "Out Standing", "data": "outstanding" },
                     { "title": "Meter #", "data": "meterNo" },
                     { "title": "Previous Reading", "data": "previousReading" },



                 ]
             
               
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Resident Profile : Officer XYZ</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-bordered-dark panel-colorful">
                <div class="panel-body text-center">
                    <p class="text-bold">
                        Area :
                        <i class="text-uppercase" id="resident_area">Ares</i>
                    </p>
                    <p class="text-bold">
                        Location :
                        <i class="text-uppercase" id="resident_location">Building Flat #</i>
                    </p>
                    <p class="text-bold">
                        Rank :
                        <i class="text-uppercase"  id="resident_rank">Officer</i>
                    </p>
                    <p class="text-bold">
                        Name :
                        <i class="text-uppercase" id="resident_name">XYZ</i>
                    </p>
                    <p class="text-bold">
                        PA No. :
                        <i class="text-uppercase" id="resident_pano">12-12313123</i>
                    </p>
                    <p class="text-bold">
                        Unit / FMN :
                        <i class="text-uppercase" id="resident_unit">FMN</i>
                    </p>
                    <p class="text-bold">
                        Total Outstanding :
                        <span id="resident_Os">  /-Rs</span>
                    </p>
                    <button id="btnEditDetails" class="btn btn-primary">Edit Resident Details</button>
                    <button id="btnEditLocation" class="btn btn-warning">Create Vocation</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
                <div class="tab-base">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab0" data-toggle="tab" aria-expanded="true">Electric Bill</a>
                        </li>
                        <li>
                            <a href="#tab1" data-toggle="tab" aria-expanded="true">Gas Bill</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" aria-expanded="true">Wapda Bill</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab0" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-3 pull-right">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                            <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped table-hover residentGrid"></table>

                                    @*<tr><th>Sr.</th><th>Meter #</th><th>Billing Month</th><th>Location</th><th>Previous Reading</th><th>Present Reading</th><th>Units</th><th>Energy Charges</th><th>Amount</th><th>Water</th><th>TV</th><th>Picture</th><th>Remarks</th><th>Payment</th><th>Payment Date</th></tr>*@

                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-3 pull-right">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                            <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-bordered table-responsive table-hover grid">
                                        <thead>
                                            <tr><th>Sr.</th><th>Meter #</th><th>Billing Month</th><th>Location</th><th>Previous Reading</th><th>Present Reading</th><th>Units</th><th>Energy Charges</th><th>Amount</th><th>Picture</th><th>Remarks</th><th>Payment</th><th>Payment Date</th></tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-3 pull-right">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                            <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-bordered table-responsive table-hover grid">
                                        <thead>
                                            <tr><th>Sr.</th><th>Meter #</th><th>Billing Month</th><th>Location</th><th>Previous Reading</th><th>Present Reading</th><th>Difference</th><th>MM BTU</th><th>M/Rent</th><th>Amount</th><th>Picture</th><th>Remarks</th><th>Payment</th><th>Payment Date</th></tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>