@{
    ViewBag.Title = "Search Bill";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
            $(".datepick").datepicker({
                format: "dd-mm-yyyy"
            });
            $('.grid').dataTable();
        });
    </script>

}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Search Bill</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-dark panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Search Filters</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Month</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Amount</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Amount" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Meter#</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Meter#" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Area</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Area" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Resident</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Resident" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Name</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Name" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By PANo</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter PA No" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Unit/Fmn</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Unit/Fmn" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Rank</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Rank" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Date Entered</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Date" class="form-control datepick" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Entered By</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Meter Readed" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills ROR</h1>
                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover grid">
                        <thead>
                            <tr><th>Sr.</th><th>Meter #</th><th>Location</th><th>PA No</th><th>Rank</th><th>Name</th><th>Unit/FMN</th><th>Previous Reading</th><th>Present Reading</th><th>Units</th><th>Energy Charges</th><th>Amount</th><th>Water</th><th>TV</th><th>Picture</th><th>Remarks</th><th>Date Entered</th><th>Entry By</th></tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>