@{
    ViewBag.Title = "Search Bill";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datepicker")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
}
@section Scripts
{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/sweetAlert")

    <script>
        $(document).on('nifty.ready', function () {
            $(".monthPicker").datepicker({
                format: "mm-yyyy",
                startView: "months", 
                minViewMode: "months"
            });
            $(".datepick").datepicker({
                format: "dd-mm-yyyy"
            });
            initElectricGrid();
        });
    </script>
    <script>
         function initElectricGrid() {
            Dtable = $(".electricGrid").DataTable({
               autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORElectric',
                    "type": 'POST',
                    "dataSrc": function (data) {

                       if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {

                            
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                   
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billElectricId", className: "hidden" },
                    { "title": "Meter #", "data": "locationMeterNo" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Name", "data": "residentName" },
                    { "title": "Previous Reading", "data": "billElectricPrevReading" },
                    { "title": "Present Reading", "data": "billElectricCurrentReading" },
                    { "title": "Units", "data": "billElectricUnits" },
                    { "title": "Energy Charges", "data": "residentUnit" },
                    { "title": "Amount", "data": "billElectricAmount" },
                    { "title": "Water", "data": "billElectricWater" },
                    { "title": "TV", "data": "billElectricTv" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billElectricRemarks" }

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
    </script>
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Search Bill</h2>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-dark panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Search Filters</h1>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Month</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Amount</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Amount" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Meter#</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Meter#" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Area</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Area" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Resident</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Resident" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Name</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter Name" class="form-control" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By PANo</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Enter PA No" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Unit/Fmn</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Unit/Fmn" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Rank</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Rank" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Search By Date Entered</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Date" class="form-control datepick" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Search By Entered By</label>
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Meter Readed" class="form-control " />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-info panel-colorful">
                <div class="panel-head">
                    <h1 class="panel-title">Bills ROR</h1>
                    <div class="col-md-3 pull-right">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" value="" placeholder="Select Month" class="form-control monthPicker" />
                                <span class="input-group-addon btn btn-info"><i class="psi-magnifi-glass"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover electricGrid"></table>

                </div>
            </div>
        </div>
    </div>


</div>