@{
    ViewBag.Title = "Dashboard";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
    @Styles.Render("~/plugins/gallery")
}
@section Scripts
{
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/sweetAlert")
    @Scripts.Render("~/bundles/slider")

    <script>
        $(document).on('nifty.ready', function () {
            var queryString = new Array();
            $(function () {
                if (queryString.length == 0) {
                    if (window.location.search.split('?').length > 1) {
                        var params = window.location.search.split('?')[1].split('&');
                        for (var i = 0; i < params.length; i++) {
                            var key = params[i].split('=')[0];
                            var value = decodeURIComponent(params[i].split('=')[1]);
                            queryString[key] = value;
                        }
                    }
                }
                initRORGrid(queryString["consumerNo"]);
            });
            
            $(document).on('click', '#t1', function (e) {
                e.preventDefault();
                initRORGasGrid(queryString["consumerNo"]);
            });
            fetchStatusStats();
        });
    </script>
    <script>
        function fetchStatusStats() {
            $.ajax({
                url: '/Home/DashBoardStats',
                type: 'POST',
                success: function (response) {
                    if (response) {
                        if (response.resultCode == '1100') {
                            var _totalResidents = response.totalResidents;
                            var _totalOutstanding = response.totalOutstandings;
                            var _monthlyOutstanding = response.monthlyOutstandings;
                            var _monthlyRecovery = response.monthlyRecovery;
                            $('#total_residents').text(_totalResidents);
                            $('#total_outstanding').text(_totalOutstanding);
                            $('#monthly_outstanding').text(_monthlyOutstanding);
                            $('#monthly_recovery').text(_monthlyRecovery);
                            
                        }
                        else {
                            swal('Warning', response.remarks, 'warning');
                        }
                    }
                    else {
                        swal('Warning', response.remarks, 'warning');
                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }
            });

        }
        function initRORGrid(consumerNo) {
           
            Dtable = $(".rorElectricGrid").DataTable({
                scrollX: true, 
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORElectric',
                    "type": 'POST',
                    "data": {
                        fk_location: consumerNo
                    },
                    "dataSrc": function (data) {

                       if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {

                            
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Area", "data": "locationName" },
                    { "title": "Sub Area", "data": "locationName" },
                    { "title": "Location", "data": "locationName" },
                    { "title": "Name", "data": "residentName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Unit/FMN", "data": "residentUnit" },
                    { "title": "Main Meter Previous Reading", "data": "billPrimaryPrevReading" },
                    { "title": "Main Meter Present Reading", "data": "billPrimaryCurrentReading" },
                    { "title": "Main Meter Units", "data": "billPrimaryUnits" },
                    { "title": "Main Meter Electric Charges", "data": "billPrimaryRebate" },
                    { "title": "Main Meter FPA", "data": "billPrimaryFPA" },
                    { "title": "Main Meter Water", "data": "billPrimaryWater" },
                    { "title": "Main Meter TV", "data": "billPrimaryTv" },
                    { "title": "Main Meter Rent", "data": "billPrimaryMeterRent" },
                    { "title": "Main Meter Amount", "data": "billPrimaryAmount" },
                    { "title": "Secondary Meter Previous Reading", "data": "billSecondaryPrevReading" },
                    { "title": "Secondary Meter Present Reading", "data": "billSecondaryCurrentReading" },
                    { "title": "Secondary Meter Units", "data": "billSecondaryUnits" },
                    { "title": "Secondary Meter Electric Charges", "data": "billSecondaryRebate" },
                    { "title": "Secondary Meter FPA", "data": "billSecondaryFPA" },
                    { "title": "Secondary Meter Water", "data": "billSecondaryWater" },
                    { "title": "Secondary Meter TV", "data": "billSecondaryTv" },
                    { "title": "Secondary Meter Rent", "data": "billSecondaryMeterRent" },
                    { "title": "Secondary Meter Amount", "data": "billSecondaryAmount" },
                    { "title": "Gas Meter Previous Reading", "data": "billGasPrevReading" },
                    { "title": "Gas Meter Present Reading", "data": "billGasCurrentReading" }, 
                    { "title": "Gas Meter GST", "data": "billGasGST" },
                    { "title": "Gas Meter MMBTU", "data": "billGasMMBTU" },
                    { "title": "Gas Meter Rent", "data": "billGasMeterRent" },
                    { "title": "Gas Meter Amount", "data": "billGasAmount" },
                    { "title": "Total Amount", "data": "billAmount" },
                    {
                        "title": "Picture", "data": "billPrimaryPictureId", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                   
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }

        function initRORGasGrid(consumerNo) {

            Dtable = $(".rorGasGrid").DataTable({
                scrollX: true,
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/ROR/GetAllRORGasByMeterNo',
                    "type": 'POST',
                    "data": {
                        billGasId: consumerNo
                    },
                    "dataSrc": function (data) {

                        if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {


                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "billGasId", className: "hidden" },
                    { "title": "Consumer #", "data": "locationMeterNo" },
                    { "title": "Area", "data": "locationName" },
                    
                    { "title": "Name", "data": "residentName" },
                    { "title": "PA No", "data": "residentPaNo" },
                    { "title": "Rank", "data": "residentRank" },
                    { "title": "Unit/FMN", "data": "residentUnit" },
                    { "title": "Previous Reading", "data": "billGasPrevReading" },
                    { "title": "Present Reading", "data": "billGasCurrentReading" },
                    { "title": "Units", "data": "billGasUnits" },
                    { "title": "Gas Charges", "data": "gasCharges" },
                    
                    { "title": "Total Amount", "data": "billGasAmount" },
                    {
                        "title": "Picture", "data": "fk_billPicture", render: function (data, type, row, meta) {
                            return "<img src='data:" + row.pictureType + ";base64, " + row.pictureData + "' class='img-sm img-thumbnail'/>";
                        }
                    },
                    { "title": "Remarks", "data": "billGasRemarks" }

                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
    </script>
   
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Billing Management System</h2>
        <h4>The best among you is the one who benefits people <span> "خير الناس من ينفع الناس"</span></h4>
    </div>    
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-bordered-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Inbox/ComplaintInbox"><i class="psi-building icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Inbox/ComplaintInbox">
                        <p class="text-2x mar-no text-semibold" id="total_residents">0</p>
                        <p class="mar-no">Total Residents</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/ComplaintList" class="text-light"><i class="psi-line-chart icon-3x"></i></a>

                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/ComplaintList" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="total_outstanding">0</p>
                        <p class="mar-no">Total Outstanding</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/ComplaintList" class="text-light"><i class="psi-coins icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/ComplaintList" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="monthly_outstanding">0</p>
                        <p class="mar-no">Monthly Outstanding</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/DisposedComplaints" class="text-light"><i class="psi-money-bag icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/DisposedComplaints" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="monthly_recovery">0</p>
                        <p class="mar-no">Monthly Recovery</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-12">

            <div class="tab-base">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab0" id="t0" data-toggle="tab" aria-expanded="true">Electric</a>
                    </li>
                    <li>
                        <a href="#tab1" id="t1" data-toggle="tab" aria-expanded="true">Gas</a>
                    </li>
                    
                </ul>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">ROR List</h1>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab0" class="tab-pane fade active in">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped table-hover rorElectricGrid"></table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab1" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-striped table-hover rorGasGrid"></table>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>