@{
    ViewBag.Title = "Dashboard";
}
@section Styles
{
    @Styles.Render("~/plugins/select2")
    @Styles.Render("~/plugins/datatable")
    @Styles.Render("~/plugins/sweetAlert")
    @Styles.Render("~/plugins/gallery")
}
@section Scripts
{
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/sweetAlert")
    @Scripts.Render("~/bundles/slider")

    <script>
        $(document).on('nifty.ready', function () {
            var queryString = new Array();
            $(function () {
                if (queryString.length == 0) {
                    if (window.location.search.split('?').length > 1) {
                        var params = window.location.search.split('?')[1].split('&');
                        for (var i = 0; i < params.length; i++) {
                            var key = params[i].split('=')[0];
                            var value = decodeURIComponent(params[i].split('=')[1]);
                            queryString[key] = value;
                        }
                    }
                }
                initSubAreaGrid(queryString["areaId"]);
                
            });
            fetchStatusStats();
        });
    </script>
    <script>
        function fetchStatusStats() {
            $.ajax({
                url: '/Home/DashBoardStats',
                type: 'POST',
                success: function (response) {
                    if (response) {
                        if (response.resultCode == '1100') {
                            var _totalResidents = response.totalResidents;
                            var _totalOutstanding = response.totalOutstandings;
                            var _monthlyOutstanding = response.monthlyOutstandings;
                            var _monthlyRecovery = response.monthlyRecovery;
                            $('#total_residents').text(_totalResidents);
                            $('#total_outstanding').text(_totalOutstanding);
                            $('#monthly_outstanding').text(_monthlyOutstanding);
                            $('#monthly_recovery').text(_monthlyRecovery);
                            
                        }
                        else {
                            swal('Warning', response.remarks, 'warning');
                        }
                    }
                    else {
                        swal('Warning', response.remarks, 'warning');
                    }
                },
                error: function (a, b, c) {
                    swal('Error', a + b + c, 'error');
                }
            });

        }
        function initSubAreaGrid(areaId) {
            var id;
            Dtable = $(".subAreaGrid").DataTable({
                autoWidth: true,
                destroy: true,
                "ajax": {
                    "url": '/Management/GetAllSubAreasByAreaId',
                    "type": 'POST',
                    "data": { areaId: areaId },
                    "dataSrc": function (data) {

                       if (data.length > 0) {
                            if (data[0].resultCode == '1100') {
                                return data;
                            }
                            {
                                return [];
                            }
                        }
                        else {

                            
                        }
                    },
                    "error": function (a, b, c) {
                        swal({
                            title: "Error",
                            text: a.status + ": " + c,
                            type: "error"
                        });
                    }
                },
                "columns": [
                   
                    {
                        title: 'Sr. #',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "title": "Id", "data": "subAreaId", className: "hidden" ,
                        "render": function (data, type, full, meta) {
                            return id = data;
                        }
                    },
                    { "title": "Sub Area Name", "data": "subAreaName" ,
                      "render": function(data, type, full, meta) {
                       return '<a href="Locations?subAreaId=' + id + '">"' + data + '"</a>'; }},         
                    { "title": "No. Of Consumers", "data": "noOfConsumers" },
                    { "title": "Units", "data": "totalUnits" },
                    { "title": "Amount", "data": "totalAmount" },       
                   
                ]
            });
            Dtable.columns.adjust();
            $("div.tableTop").addClass("pull-left");
            $("div.tableBottom").addClass("pull-left");
            $("div.html5Buttons").addClass("pull-right");
        }
    </script>
   
}
<div id="page-head">
    <div class="pad-all text-center">
        <h2>Billing Management System</h2>
        <h4>The best among you is the one who benefits people <span> "خير الناس من ينفع الناس"</span></h4>
    </div>    
</div>
<div id="page-content">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-bordered-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Inbox/ComplaintInbox"><i class="psi-building icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Inbox/ComplaintInbox">
                        <p class="text-2x mar-no text-semibold" id="total_residents">0</p>
                        <p class="mar-no">Total Residents</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/ComplaintList" class="text-light"><i class="psi-line-chart icon-3x"></i></a>

                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/ComplaintList" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="total_outstanding">0</p>
                        <p class="mar-no">Total Outstanding</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/ComplaintList" class="text-light"><i class="psi-coins icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/ComplaintList" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="monthly_outstanding">0</p>
                        <p class="mar-no">Monthly Outstanding</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <a href="~/Complaints/DisposedComplaints" class="text-light"><i class="psi-money-bag icon-3x"></i></a>
                    </div>
                </div>
                <div class="media-body">
                    <a href="~/Complaints/DisposedComplaints" class="text-light">
                        <p class="text-2x mar-no text-semibold" id="monthly_recovery">0</p>
                        <p class="mar-no">Monthly Recovery</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered-warning">
                <div class="panel-heading">
                    <h1 class="panel-title">Sub Area List</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover subAreaGrid"></table>
                </div>
            </div>
        </div>
    </div>

</div>